.wrapper {
  height: 100vh;
  width: 99.8vw;
  /* border: 2px solid red; */
  overflow-x: hidden;
}
.page1 {
  width: 100%;
  height: 100%;
  h1 {
    color: #234e9d;
    font-weight: 600;
  }
}
.navbar {
  width: 100%;
  height: 15%;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction: column; */
  div {
    width: 20%;
    height: 80%;
    /* border: 2px solid red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* object-fit: cover; */
  }
  div img {
    width: 70%;
    height: 95%;
    /* object-fit: cover; */
  }
  div:nth-child(2) img {
    width: 100%;
    height: 65%;
    /* object-fit: cover; */
  }
}
.bharatSubmitDiv {
  width: 100%;
  height: 85%;
  background-image: url("../../assets/images/dna3.jpg");
  /* background-image: url("../../assets/images/dna2.png"); */
  /* object-fit: cover; */
  background-repeat: no-repeat;
  background-size: cover;
}
.bharatSubmitDiv > div {
  width: 100%;
  height: 100%;
  background-color: rgba(15, 61, 245, 0.168);
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  flex-direction: column;
  gap: 10%;
  color: white;

  h1 {
    font-size: 2vmax;
    font-weight: 600;
    color: white;
  }
}
.bharatSubmitDiv > div > div:nth-child(1) {
  width: 40%;
  height: 20%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}
.bharatSubmitDiv > div > div:nth-child(2) {
  width: 30%;
  height: 15%;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(0, 0, 255, 0.437);
}
.bharatSubmitDiv > div > div:nth-child(2) > div:nth-child(1) {
  /* border: 2px solid yellow; */
  width: 100%;
  height: 50%;
}
.bharatSubmitDiv > div > div:nth-child(2) > div:nth-child(1) > div {
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 5%;
  font-size: 1.2vmax;
}

.bharatSubmitDiv > div > div:nth-child(2) > div:nth-child(2) {
  width: 100%;
  /* border: 2px solid red; */
  height: 50%;
  text-align: center;
  font-size: 1.2vmax;
}
.guidelineDIv {
  width: 100%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  > div {
    width: 65%;
    height: 90%;
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    > div {
      width: 100%;
      height: 70%;
      /* border: 2px solid green; */
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    }
  }
}
.guidelineDIv > div > div div {
  width: 100%;
  height: 45%;
  /* border: 2px solid red; */
  font-size: 1.2vmax;
  text-align: start;
  border-left: 10px solid rgba(255, 255, 255, 0.178);
  background-color: #00aeab;
  color: white;
  padding-left: 2%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* text-wrap: balance; */
}

.guidelineDIv2 {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  > div {
    width: 65%;
    height: 90%;
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    > div {
      width: 100%;
      height: 80%;
      /* border: 2px solid green; */
      display: flex;
      /* align-items: center; */
      justify-content: center;
      flex-direction: column;
      text-align: start;
      font-size: 1.3vmax;
      padding-left: 5%;
      border-left: 10px solid rgba(255, 255, 255, 0.178);
      background-color: #00aeab;
      color: white;
    }
  }
}

.guidelineDIv3 {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  > div {
    width: 65%;
    height: 100%;
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    > div {
      width: 100%;
      height: 90%;
      /* border: 2px solid green; */
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      text-align: start;
      font-size: 1.3vmax;
      border-radius: 30px;

      background-color: #e0e0e0;
      /* color: white; */
      > div {
        width: 80%;
        height: 30%;
        /* border: 2px solid red; */
      }
      > div:nth-child(1) {
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      > div:nth-child(2) {
        height: 20%;
        border-radius: 10px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5%;
      }
      > div:nth-child(3) {
        border-radius: 10px;
        height: 50%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5%;
      }
    }
  }
}
.customtitlediv {
  /* border: 2px solid blue !important; */
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customtitlediv > div:nth-child(1) {
  color: #234e9d;
  font-weight: 600;
}
.customtitlediv > div:nth-child(2) {
  color: red;
  /* font-weight: 600; */
  text-align: start;
  /* border: 2px solid pink; */
  width: 60%;
}
.customtitlediv > div:nth-child(2) B {
  color: #234e9d;
  font-weight: 600;
}
.noteDIv {
  width: 100%;
  height: 40vh;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;

  > div {
    width: 65%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    > div {
      width: 100%;
      height: 100%;
      /* border: 2px solid red; */

      font-size: 1.2vmax;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1%;
    }
  }
}
.customBullet {
  width: 100%;
  font-size: 1.2vmax;
  display: flex;
  align-items: start;
  justify-content: start;

  > b {
    color: #00aeab;
    font-size: 1.5vmax;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .navbar div {
    width: 40%;
    /* border: 2px solid red; */
    height: 60%;
  }
  .page1 {
    div {
      font-size: 1.8vmax;
    }
    h1 {
      font-size: 2.5vmax;
    }
  }
  .bharatSubmitDiv > div {
    h1 {
      font-size: 2.5vmax;
    }
  }
  .bharatSubmitDiv > div > div:nth-child(1) {
    width: 90%;
  }
  .bharatSubmitDiv > div > div:nth-child(2) {
    width: 80%;
  }
  .bharatSubmitDiv > div > div:nth-child(2) > div:nth-child(1) > div {
    font-size: 2.2vmax;
  }
  .bharatSubmitDiv > div > div:nth-child(2) > div:nth-child(2) {
    font-size: 2.2vmax;
  }
  .guidelineDIv {
    > div {
      width: 90%;
    }
  }
  .guidelineDIv > div > div div {
    font-size: 1.9vmax;
  }
  .guidelineDIv2 {
    > div {
      width: 90%;
      > div {
        font-size: 2vmax;
      }
    }
  }
  .guidelineDIv3 {
    > div {
      width: 90%;
    }
  }
  .noteDIv {
    > div {
      width: 80%;
      /* overflow: hidden; */
    }
  }
  .customBullet {
    /* border: 2px solid red; */
    word-wrap: break-word;
  }
}
